body{
    margin:0;
    padding:0;
    font-family: Helvetica, Arial, serif;    
}
h1{

    font-size:36px;
    text-align: center;
}
.wrapper{
    display: flex;
    flex-flow:row wrap
}
.wrapper > * {
    margin:10px;
    border-radius: 20px;
    flex:1 100%;
}
img{
    height: 70%;
    width:100%;
    margin:0;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
}

h6{
    margin:10px;
    padding-left: 14px;
    font-size:medium;
    
}
p{
    margin:5px;
    position: relative;
    top:20px;
    left:20px
}
.cards{
    height:350px;
    background-color:#F5F5F5;
}


@media all and (min-width:600px){
    h6{
        font-size:medium;
    }
    .wrapper > *{
        flex: 0 1 30%;
    } 
}
@media all and (min-width:800px){
    h6{
        font-size:large;
    }
    .wrapper > *{
        flex: 0 1 22%;
    } 
}